@model GroupCapstone.Models.CommentVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <h3>
        Event Bookmarks : @ViewBag.BookMarkerForEvents
    </h3>
    <h3>
        Event Purchased Tickets : @ViewBag.PurchasedAdmission
    </h3>
    <h3>
        Available Tickets : @ViewBag.TicketsAvailable
    </h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.TicketsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.TicketsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.TicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.TicketPrice)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Event.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.State)
        </dd>

    </dl>
    <div>
        <a href="#" class="btn btn-primary btn-sm">Get Weather</a>
        <p id="reply"></p>
        <p id="reply2"></p>
    </div>
    <div>
        <p id="reply"></p>
    </div>
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 400px;
            width: 400px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/plugins/openWeather.js"></script>
    <script>
        $(document).ready(function () {
            $("a").click(function () {
                $.get("http://api.openweathermap.org/data/2.5/weather?lat=@ViewBag.lat&lon=@ViewBag.Long&APPID=35bd7d68bf30c2b4be5024747ceacecb&units=imperial}", function (response) {
                    //response
                    $("#reply").text(((response.main.temp - 273.15) * (9 / 5) + 32).toFixed());
                    $("#reply2").text(response.weather[0].main);
                });
            });
        });
    </script>
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
                // The location of Uluru
                var uluru = { lat: @ViewBag.lat, lng: @ViewBag.Long };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 15, center: uluru });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBA-VL6jTbTGJNW77AsuCuLRVwXB2wKGo&callback=initMap"
            async defer></script>
</div>
@Html.ActionLink("Back to List", "MyEvents")

<h4>Comments about this event:</h4>
@foreach (var item in Model.Comments)
{<p></p>
    <div style="border:1px solid black">
        <p style="border-bottom:1px solid black">On @item.Date,</p>
        <p>@item.User said:</p>
        <p>@item.Description</p>
    </div>
}



