@model IEnumerable<GroupCapstone.Models.Event>

@{
    ViewBag.Title = "MyEvents";
}

<h2>My Events</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewEvent")
</p>
<h5>
    My Rating : @ViewBag.HolderAvg
</h5>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.ImagePath)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEvent", new { id = item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
        </td>
    </tr>
}

</table>
