@model IEnumerable<GroupCapstone.Models.Event>

@{
    ViewBag.Title = "GuestHome";
}

<h2>GuestHome</h2>

@using (Html.BeginForm("Filter", "Guest"))
{
    <table>
        <tr>
            <td>
                @Html.DropDownList("id", new SelectList(ViewBag.ListData, "Category", "Category"))
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Filter">
            </td>
        </tr>
    </table>
}

<table class="table table-striped table-hover">
    <tr class="active">
        <th>Image</th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.ImagePath)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketsAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPrice)
        </td>
        <td>
            @Html.ActionLink("Details", "EventDetails", new { id = item.EventId })
        </td>
        <td>
            @Html.ActionLink("Rate", "GiveRating", new { id = item.EventId })
        </td>
    </tr>
}

</table>
